<div class="container">
  <table>
    <form name="login" >
      <tr>
        <td>Email Id :</td>
        <td>
          <input type="email" ng-model="data.emailId" placeholder="provide your email id">
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <input type="password" ng-model="data.password" placeholder="provide your password">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" ng-click="loginFunction()" value="submit">
        </td>
      </tr>
    </form>
  </table>
</div>
